<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel = "stylesheet" href = "/css/dashboard.css">
    <script src = "/js/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/49de09a742.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../header.ejs')  %>
    <%- body %>
    <%- include('../footer.ejs')  %>
</body>
</html>