<h1 id = about>About</h1>
<h4 id = desc>This is a note taking app designed using Node, Express,and MongoDB. It is completely free.</h4>
<a href = '/dashboard'>
    <button> Dashboard </button>
</a>

<a href = '/'>
    <button> Home </button>
</a>
