

<div id = noteViewContainer>
    <div id = formContainer>
        <form id = noteForm action = '/dashboard/add' method = 'POST'>
            <input class = titleFormStyle id = titleForm type = 'text' id="title" name="title" placeholder="Title">
            <textarea class = bodyFormStyle id = bodyForm name = body rows = 12></textarea>

            <div class= titleFormStyle id = 'titleDisplay' contenteditable="true">Title</div>
            <div class= bodyFormStyle id = 'bodyDisplay' contenteditable="true">Take a note...</div>
        </form>

        <div id = textOptionsContainer>
            <div id = saveDeleteContainer>
                <button id = save type = 'submit'> Add Note </button>
                <a href = "javascript:history.back()">
                    <button id = delete class = deleteForAddPage> Delete </button>
                </a>
            </div>
            <div id = buttonContainer>
                <button type="button" class="btn" data-element="bold" onclick="execCommand('bold')">
                    <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn" data-element="italic" onclick="execCommand('italic')">
                    <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn" data-element="underline" onclick="execCommand('underline')">
                    <i class="fa fa-underline"></i>
                </button>
                <button type="button" class="btn" data-element="insertUnorderedList" onclick="execCommand('insertUnorderedList')">
                    <i class="fa fa-list-ul"></i>
                </button>
                <button type="button" class="btn" data-element="insertOrderedList" onclick="execCommand('insertOrderedList')">
                    <i class="fa fa-list-ol"></i>
                </button>
                <button type="button" class="btn" data-element="justifyLeft" onclick="execCommand('justifyLeft')">
                    <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn" data-element="justifyCenter" onclick="execCommand('justifyCenter')">
                    <i class="fa fa-align-center "></i>
                </button>
                <button type="button" class="btn" data-element="justifyRight" onclick="execCommand('justifyRight')">
                    <i class="fa fa-align-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('save').addEventListener('click', function() {
    document.getElementById('noteForm').submit();
    });

    const body = document.getElementById('bodyForm');
    const bodyDisplay = document.getElementById('bodyDisplay');
    const title = document.getElementById('titleForm');
    const titleDisplay = document.getElementById('titleDisplay')

    function execCommand(command){
        document.execCommand(command, false, null);
    }

    titleDisplay.addEventListener('input', () =>{
        title.value = titleDisplay.innerHTML;
    })

    bodyDisplay.addEventListener('input', () =>{
        body.value = bodyDisplay.innerHTML;
    })
</script>