<h1> Pages with relevant search terms: </h1>
<div id = searchResultsContainer>
    <% if(searchResults != '') { %>
        <% searchResults.forEach(function(note, index) { %>
            <a class = searchLinks href="/dashboard/note/<%= note._id %>">
                <h2> <%= note.title %></h2>
            </a>
        <% }); %>
    <% } else { %>
        <h4> No results found...</h4>
    <% } %>
</div>